<div class="links">

    <div class="link">
        <a href="https://github.com/isaacdoescodes">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>

    <div class="link disabled">
        <a onclick="alert('Not quite yet!')">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>

    <div class="link disabled">
        <a onclick="alert('Not quite yet!')">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>

    <div class="link">
        <a href="https://www.tiktok.com/@isaacdoescodes">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </div>

    <div class="link">
        <a href="https://discord.gg/WGYNfjWB" class="tooltip-bottom" data-tooltip="Stay tuned in for announcements, chat, chill on my discord.">
            <i class="fa-brands fa-discord"></i>
        </a>
    </div>

</div>
