:root {
    font-size: $root-font-size;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: $serif-font-family;
}


.disabled {
    color: $disabled-text-color;
    cursor: not-allowed;
}

.disabled:hover {
    text-decoration: none;
}
body.page {
    background-color: $light-blank-background;
        color: $light-text-color;
}
@media (prefers-color-scheme: dark) {
    body.page {
        background-color: $dark-blank-background;
        color: $dark-text-color;
    }
}

