html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
html.home {
    height: 100%;
}

body.home {
    background-color: #1d1545;
    color: white;
    height: 100%;
}


.disabled {
    color: rgba(128, 128, 128, 0.433);
    cursor: not-allowed;
}

.disabled:hover {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body.page {
        background-color: rgb(25, 25, 25);
        color: white;
    }
}