@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

$colorful-background: #1d1545;
$light-text-color: #000;
$dark-text-color: #fff;
$light-blank-background: #fff;
$dark-blank-background: #1e1e1e;
$title-text-gradient: linear-gradient(122deg, rgba(0, 82, 255, 1), rgba(158, 10, 255, 1));
$home-text-color: #fff;
$disabled-text-color: #8080806e;

$serif-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$monoscape-font-family: 'Fira Code', monospace;

$sidebar-width: 380px;
$content-max-width: 75ch;

$root-font-size: 16px;
$sidebar-title-font-size: 2.5rem;
$small-tag-size: 0.875rem;

@import 'defaults';
@import 'layout/home';
@import 'layout/page';
@import 'components/syntax';