.links {
    width: 100%;
    height: 30px;
    text-align: center;
    .link {
        display: inline;
        font-size: $icon-link-font-size;
        margin: 15px;
        a {
            color: currentColor;
            text-decoration: none;
        }
    }
}