@import '../components/iconlink';
@import '../components/navlinks';

html.home {
    height: 100%;
}

body.home {
    background-color: $colorful-background;
    color: $home-text-color;
    height: 100%;
    display: grid;
    place-items: center;

    main {
        height: 400px;
        text-align: center;

        .module-border-wrap {
            width: $home-profile-image-size;
            height: $home-profile-image-size;
            border-radius: 50%;
            position: relative;
            background-image: $title-text-gradient;
            margin: auto;
            padding: 5px;
        }

        h1 {
            font-size: $home-title-font-size;
            margin-bottom: 20px;
            background-image: $title-text-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        img {
            border-radius: 50%;
            width: $home-profile-image-size;
        }

    }
}

.toggle {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
}